<% extend("../app.ejs") %>
<section class="mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="homepage-logo mt-2">
                    <!-- <img class="menu-nav" src="../images/background/menu-nav.png" alt="img logo"> -->
                    <span>Photo Session</span>
                </div>
                <div class="home-nav">
                    <div class="nav-item">
                        <% if(user){%>
                            <a href="/users" target="_blank">Dashboard</a>

                            <%} else {%>
                                <a href="/login">Log in</a>
                            <% }%>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section class="sec-header d-flex flex-column">
    <div class="img-header d-flex flex-column mt-5 ">
        <div style="margin-left: 20%;" class="mt-5"><span style="font-size: 25px">SPECIALIZED EXPLORE BOOKING PLATFORM</span></div>
        <div style="margin-left: 22%;" class="header-search mt-5">
            <i class="fa fa-search"></i>
            <label for="input-search"></label>
            <input id="input-search" placeholder="Looking for information...">
            <div id="show-info-search" class="show-info-search">

            </div>
        </div>
    </div>
    <div class="content-header d-flex  justify-content-between title-and-icon align-items-center">
        <div class="d-flex flex-column ml-5 pl-5 align-items-center">
            <i class="fa fa-thumbs-up"></i>
            <span>Good reviews</span>
        </div>
        <div class="d-flex flex-column align-items-center">
            <i class="fa fa-user-md"></i>
            <span>Outstanding photographers</span>
        </div>
        <div class="d-flex flex-column mr-5 pr-5 align-items-center">
            <i class="fa fa-clock-o"></i>
            <span>Fast response</span>
        </div>
    </div>
</section>
<section class="sec-fields-hospital d-flex flex-column">
    <div class="sec-fields-title mx-auto d-flex my-3">
        <h2 class="">Popular packages</h2>
        <a href="/all-specializations" class="flex-grow-1 my-auto"><span>All packages</span></a>
    </div>
    <div class="section-slide">
        <div class="slider slider-nav text-decoration-none">
            <% specializations.forEach(function(x) { %>
                <a href="/detail/specialization/<%= x.id %>" class="a-specialization text-decoration-none"
                   style="outline: none">
                    <div class="d-flex flex-column slide-fields specialization" data-specialization="<%= x.id %>">
                        <img src="/images/placeholder-image.png" alt="image bla bla">
                        <h3 class="text-decoration-none"><%= x.name %></h3>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</section>
<section class="sec-doctors">
    <div class="sec-fields-title mx-auto d-flex my-3">
        <h2 class="">Outstanding photographers</h2>
        <a href="/all-doctors" class="flex-grow-1 my-auto"><span>All photographers</span></a>
    </div>
    <div class="section-slide">
        <div class="slider slider-nav text-decoration-none">
            <% doctors.forEach(function(doctor) { %>
                <a href="/detail/doctor/<%= doctor.id %>" class="text-decoration-none" style="outline: none">
                    <div class="slide-doctors text-decoration-none">
                        <div class="doctor-avatar">
                            <img src="/images/placeholder-image.png"
                                 alt="image bla bla">
                            <h3 style="color: black">Photographer name</h3>
                            <h4 style="color: black">Package type</h4>
                            <span title="Counting the number of patients have been booked" style="color: #0056b3"> Number of confirmed requests</span>
                        </div>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</section>

<!-- Modal show all specializations -->
<!-- <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     id="modalAllSpecializations">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">All specialties</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row all-specializations-body px-2">
                    <% specializations.forEach(function(x) { %>
                        <div class="col-12 col-spe pl-3"><a href="/detail/specialization/<%= x.id %>" class="text-decoration-none"><%= x.name %> </a></div>
                        <% }) %>
                        <div class="col-12 col-spe pl-3"><a href="/all-specializations" class="text-decoration-none">View all</a></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-confirm-booking-spe"  data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal show all clinics-->
<!-- <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     id="modalAllClinics">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">All clinics</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row all-specializations-body px-2">
                    <% clinics.forEach(function(x) { %>
                        <div class="col-12 col-spe pl-3"><a href="/detail/clinic/<%= x.id %>" class="text-decoration-none"><%= x.name %> </a></div>
                    <% }) %>
                        <div class="col-12 col-spe pl-3"><a href="/all-clinics" class="text-decoration-none">View all</a></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-confirm-booking-spe"  data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal show all doctors-->
<!-- <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     id="modalAllDoctors">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">All doctors</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row all-doctors-body px-2">
                    <% doctors.forEach(function(x) { %>
                        <div class="col-12 col-spe pl-3"><a href="/detail/doctor/<%= x.id %>" class="text-decoration-none"><%= x.name %> </a></div>
                    <% }) %>
                </div>
                <div class="row all-doctors-body px-2">
                        <div class="col-12 col-spe pl-3"><a href="/all-doctors %>" class="text-decoration-none">View all</a></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-confirm-booking-spe"  data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div> -->